body {
    /* font-family: 'Gloria Hallelujah', cursive; */
    /* font-family: 'Poiret One', cursive; */
    font-family: 'Give You Glory', cursive;
    display: flex;
    flex-direction: column;
}


h1 {
    text-align: center;
    font-style: bold;
}

.contents {
    display: flex;
    width: 60%;
    margin: auto;
}

.text {
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
    padding-right: 10px; 
    font-size: 1.2em;
}

img {
    border-radius: 5%;
}